@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@500&display=swap");

$bg-color: #f1fdf1;
$text-color: #1f4f28;

body {
  background: $bg-color;
  font-family: "Cormorant Infant", serif;
  color: $text-color;
}

.toprow {
  margin-top: 2%;
  margin-left: 5%;
  width: 15%;
  height: 20%;
  align-items: center;
  font-size: 300%;
}

.bottomrow {
  margin-top: 2%;
  margin-left: 5%;
  width: 20%;
  height: 15%;
  align-items: left;
  font-size: 50%;
}

.dropdown {
  font-family: "Cormorant Infant", serif;
  color: $text-color;
  font-size: 100%;
  background-color: #d3f5d3;
  border-color: #1f4f28;
}
